#ifndef WORKSHOP_INVOKED
#include <os2.h>
#define ES_ANY 0x00000000L
#endif
#include "os2rc.H"
POINTER ID_WINDOW "./zed.ico"

DLGTEMPLATE IDD_DLGTEMPLATE 
BEGIN
	DIALOG "", 100, 6, 52, 292, 113, NOT FS_DLGBORDER | FS_SIZEBORDER | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | FCF_NOBYTEALIGN
	BEGIN
	END

END






DLGTEMPLATE IDD_EMPTYDLGTEMPLATE 
BEGIN
	DIALOG "", 100, 6, 52, 292, 113, NOT FS_DLGBORDER | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_NOBYTEALIGN
	BEGIN
	END

END



MENU ID_MENU 
BEGIN
	MENUITEM ".", 1001
END

DLGTEMPLATE test 
BEGIN
	DIALOG "", 100, 95, 36, 166, 152, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 6, 5, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 60, 5, 51, 14
		CONTROL "Command", 101, 22, 131, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "Sample", 102, 32, 93, 123, 35, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "Description", 103, 34, 94, 117, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "Description:", 104, 33, 106, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "Space", 105, 22, 73, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "Sample", 106, 8, 34, 149, 28, WC_STATIC, SS_FGNDRECT | WS_VISIBLE | WS_GROUP
		CONTROL "Select an image:", 107, 8, 63, 106, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	END

END

